{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="bg-slate-300 flex flex-col min-h-screen">
  <h1 class="flex justify-center text-7xl font-mono mt-24 text-stone-950"> Barito International </h1>
  <blockquote class="flex justify-center text-2xl font-mono italic">{{ tagline }}</blockquote>
  <div class="flex justify-center mt-28 items-center">
    <div class="bg-gray-200 shadow-lg rounded-lg p-8 max-w-sm w-full">
      <h1 class="text-2xl font-bold text-gray-800 mb-2 font-sans">Login</h1>
      <p class="text-sm text-gray-600 mb-6 font-sans">Stay connected, never missed a great deal</p>

      <form method="POST" action="" class="space-y-4">
        {% csrf_token %}
        
        <!-- Username Input -->
        <div>
          <label for="id_username" class="sr-only">Nama Akun</label>
          <input type="text" name="username" id="id_username" placeholder="Nama akun" 
            class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none font-sans text-gray-900"
            required>
        </div>

        <!-- Password Input -->
        <div class="relative">
          <label for="id_password" class="sr-only">Kata sandi</label>
          <input type="password" name="password" id="id_password" placeholder="Kata sandi" 
            class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none font-sans text-gray-900"
            required>
        </div>

        <!-- Login Button -->
        <div>
          <input type="submit" value="Login" 
            class="w-full bg-slate-600 text-white p-3 rounded-lg font-semibold hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 font-sans focus:outline-none">
        </div>
      </form>
      
      <div class="text-center mt-4">
        <a href="{% url 'main:register' %}" class="text-slate-950 font-sans hover:underline">Buat akun baru</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
